[submodule "Fusion/vendor/spdlog"]
	path = Fusion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fusion/vendor/glfw"]
	path = Fusion/vendor/glfw
	url = https://github.com/WhoseTheNerd/glfw
[submodule "Fusion/vendor/glm"]
	path = Fusion/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Fusion-Audio/vendor/vorbis"]
	path = Fusion/vendor/vorbis
	url = https://github.com/WhoseTheNerd/vorbis
[submodule "Fusion-Audio/vendor/ogg"]
	path = Fusion/vendor/ogg
	url = https://github.com/WhoseTheNerd/ogg
[submodule "Fusion-Audio/vendor/openal-soft"]
	path = Fusion-Audio/vendor/openal-soft
	url = https://github.com/WhoseTheNerd/openal-soft
